<div class='cartDetail'>
    <h2 class='id'>ID: {{cart._id}}</h2>
    <ul class="productList">
        {{#each cart.products}}
        <li class="productDetail">
            <p>Producto: {{this.product.title}}</p>
            <p>Precio unitario: ${{this.product.price}}</p>
            <p>Cantidad: {{this.quantity}}</p>
            <form action="/api/cart/{{../cart._id}}/product/{{this.product._id}}?_method=DELETE" method="post"
                enctype='application/x-www-form-urlencoded'>
                <input type='hidden' name='_method' value='DELETE'>
                <button type='submit'>Eliminar producto de carrito</button>
            </form>
        </li>
        {{/each}}
    </ul>
    <form class="cleanCart" action='/api/cart/{{cart._id}}?_method=DELETE' method='POST'
        enctype='application/x-www-form-urlencoded'>
        <input type='hidden' name='_method' value='DELETE'>
        <button type='submit'>Vaciar carrito</button>
    </form>
</div>

<script src="/js/productScript.js"></script>