<div class='productDetail'>
    <h2 class="title">{{product.title}}</h2>
    <p class='price'>Precio: ${{product.price}}</p>
    <p class='description'>{{product.description}}</p>
    <p>Categoria: {{product.category}}</p>

    <form action='/api/products/{{product.id}}/addtocart' method="POST" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="quantity" value="1">
        <button type="submit">Agregar al carrito</button>
    </form>
    {{#if currentUser.isValid}}
    <button><a href="/editproduct/{{product.id}}">Editar Producto</a></button>
    <form action='/api/products/{{product.id}}?_method=DELETE' method='POST' enctype='application/x-www-form-urlencoded'>
        <input type='hidden' name='_method' value='DELETE'>
        <button type='submit'>Eliminar producto</button>
    </form>
    {{/if}}
</div>