<div class="profileContainer">
    <h1>Perfil del usuario</h1>
    <div class="profile">
        <h2>Nombre: {{currentUser.firstName}} {{currentUser.lastName}}</h2>
        <h3>Email: {{currentUser.email}}</h3>
        <p>Edad: {{currentUser.age}}</p>
        <button class="cart"><a href="/api/cart">Ver carrito</a></button>
        <button><a href="/editUser/{{currentUser._id}}">Editar info</a></button>
    </div>
</div>