<div class="tickets">
    <div class="listContainer">
        <h1>Listado de tickets</h1>
        <ul>
            {{#each tickets}}
            <li class='card'>
                <h2>N° de Ticket: {{this.code}}</h2>
                <p>Fecha: {{this.purchaseDatetime}}</p>
                <p>Total: {{this.amount}}</p>
                <p>Status: {{this.status}}</p>
                <button><a href='/api/tickets/{{this.id}}'>Ver detalle</a></button>
            </li>
            {{/each}}
        </ul>
    </div>
</div>