<div class="listContainer">
        <h1>Listado de usuarios</h1>
        <ul>
            {{#each users}}
            <li class='card'>
                <h2>Nombre: {{this.firstName}}</h2>
                <p>Apellido: {{this.lastName}}</p>
                <p>edad: {{this.age}}</p>
                <p>email: {{this.email}}</p>
                <button><a href='/api/users/{{this.id}}'>Ver detalle</a></button>
            </li>
            {{/each}}
        </ul>
</div>